p {
      margin: 0;
}

a, h1 {
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: rgb(20, 147, 45);
}

a:hover, a:active {
      color: rgb(12, 88, 27);
}

h1 {
      font-size: 24px;
      font-weight: 700;
}

.links {
      text-align: center;
      margin: 100px auto;
}

.all-cards {
      margin-top: 150px;
      display: flex;
      justify-content: space-around;
}

.card-description {
      margin-bottom: 10px;
}

.sale {
      margin-top: 100px;
      background-color: rgb(199, 54, 83);
      border-radius: 10px;
}

.timer-description,
.timer {
      display: block;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 600;
      color: rgb(255, 255, 255);
}

table {
      margin: 100px auto;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      border-collapse: collapse;
      border: 1px solid rgb(39, 39, 39);
      background-color: rgb(232, 232, 232);
}

tr, td {
      border-collapse: collapse;
      border: 1px solid rgb(39, 39, 39);
      padding: 5px;
}